@import "../../assets/scss/variables";

.login {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__wrapper {
    width: 340px;
    height: 460px;
    background: $white-color;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 14%);
    border-radius: 12px;
    padding: 50px 30px 30px 30px;
    &-text {
      font-weight: 500;
      font-size: 20px;
      text-align: center;
      color: $title-color;
    }
  }
}

.login-main{
  position: relative;
}

.form-login {
  &__wrapper {
    position: relative;
    margin-top: 40px;
  }
  &__title {
    font-weight: 500;
    font-size: 11px;
    color: $color-form-title;
  }
}

.error_login-form {
  color: $error-color;
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
  bottom: 15px;
  text-align: center;
}

.error {
  display: none;
  color: $error-color;
  &-login {
    position: absolute;
    font-weight: 400;
    font-size: 12px;
    bottom: -20px;
    &__input {
      /*  color: red; */
    }
  }
  &-password {
    position: absolute;
    font-weight: 400;
    font-size: 12px;
    bottom: -20px;
    &__input {
       /* color: red; */
    }
  }
}
