<section class="login">
  <div class="login__wrapper">
    <div class="login__wrapper-text">Вход</div>
    <main>
      <form action="#" class="form-login">
        {{{inputLogin}}}
        {{{inputPassword}}}
        {{{linkEntry}}}
        {{{linkRegistration}}}
      </form>
    </main>
  </div>
</section>
