<section class="login">
  <div class="login__wrapper">
    <div class="login__wrapper-text">Вход</div>
    <main>
      
      {{{form}}}
      {{{linkRegistration}}}

    </main>
  </div>
</section>
