/* dark-color */
$dark-color: #000;
$color-overflow: rgba(0, 0, 0, 0.4);
$color-img-time: rgba(82, 82, 82, 0.5);
$color-box-shadow: rgba(0, 0, 0, 0.14);
$title-color: #1e1e1e;
$title-color: #1e1e1e;

/* blue-color */
$base-color: #3369f3;

$color-focus-input: #003c8a;
$color-hover-link: #00adff;
$color-hover-btn: #1452ef;
$color-hover-btn-modal: #205cf3;
$color-hover-modal-title: #6f98ff;
$color-hover-btn-save: #1e59ed;

/* light-color */
$border-color: #eaeaea;
$message-active-color: #e4edfd;
$white-color: #fff;
$color-form-title: #999999;
$color-background-grey: #efefef;
$color-title-second: #999999;
$color-modal-title: #8d8d8d;
$color-profile-placeholder: #6a6969;
$color-panel: #fbfbfb;

/* error-color */
$error-color: #ff2f2f;
$error-hover-color: #ff7272;
