@import "../../assets/scss/variables";

.form-info__block {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border-color;
  &-title {
    font-weight: 500;
    color: $title-color;
  }
  &-desc {
    font-weight: 400;
    color: $title-color;
    border: none;
    width: 125px;
    font-weight: 500;
  }
}
