<div class='profile__panel'>
  <a href='profile.hbs'>
    <img
      src='../../assets/img/back-arrow.png'
      alt='back-arrow'
      width='35'
      height='35'
      class='profile__panel-circle'
    />
  </a>

</div>