<form action='#' class='form-info'>
  <div class='form-info__block'>
    <div class='form-info__block-title'>Почта</div>
    <input
      name='email'
      type='login'
      class='form-info__block-desc profile profile__placeholder'
      value='pochta@yandex.ru'
    />
  </div>

  <div class='form-info__block'>
    <div class='form-info__block-title'>Логин</div>
    <input
      name='login'
      type='text'
      class='form-info__block-desc profile profile__placeholder'
      value='ivanivanov'
    />
  </div>

  <div class='form-info__block'>
    <div class='form-info__block-title'>Имя</div>
    <input
      name='first_name'
      type='text'
      class='form-info__block-desc profile profile__placeholder'
      value='Илья'
    />
  </div>

  <div class='form-info__block'>
    <div class='form-info__block-title'>Фамилия</div>
    <input
      name='second_name'
      type='text'
      class='form-info__block-desc profile profile__placeholder'
      value='Иванов'
    />
  </div>

  <div class='form-info__block'>
    <div class='form-info__block-title'>Имя в чате</div>
    <input
      name='display_name'
      type='text'
      class='form-info__block-desc profile profile__placeholder'
      value='Илья'
    />
  </div>

  <div class='form-info__block'>
    <div class='form-info__block-title'>Телефон</div>
    <input
      name='phone'
      type='text'
      class='form-info__block-desc profile__placeholder'
      value='+7 (909) 967 30 30'
    />
  </div>

</form>