<div class='profile-overflow'>
  <div class='profile-modal'>
    <div class='profile-modal__title'>Загрузите файл</div>
    <div class='profile-modal__file'>Выбрать файл на компьютере</div>
    <button class='profile-modal__btn'>Поменять</button>
  </div>
</div>