@import "../../assets/scss/variables";

.button {
  width: 100%;
  background: $base-color;
  color: $white-color;
  border-radius: 8px;
  height: 37px;
  border: none;
  cursor: pointer;
  &_mt20{
    margin-top: 20px;
  }
  &_mt100{
    margin-top: 100px;
  }
}

.form-registration__btn {
  margin-top: 40px;
  transition: all 1s;
  &:hover {
    background: $color-hover-btn;
  }
}

.form-info__btn {
  &-save {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    margin: 60px auto 0px auto;
    font-weight: 500;
    transition: 0.6s;
    &:hover {
      background: $color-hover-btn-save;
    }
    &_mt160 {
      margin-top: 160px;
    }
  }
}

.form-login__btn {
  margin-top: 115px;
  transition: all 1s;
  &:hover {
    background: $color-hover-btn;
  }
}

