<form action='#' class='form-registration'>
  
  {{> registration/components/form/input-email }}

  {{> registration/components/form/input-login }}

  {{> registration/components/form/input-first_name }}
  
  {{> registration/components/form/input-second_name }}

  {{> registration/components/form/input-phone }}
  
  {{> registration/components/form/input-password }}

  

  <button class='form-registration__btn'>Зарегистрироваться</button>
  <a href='/' class='form-registration__link'>Войти</a>
</form>