<div class='chat__list-header_left'>
  <div class='chat__list-block'>
    <img class='chat__list-block-img' src='../../assets/img/add-plus.png' alt='add-plus' />
    <div class='chat__list-header-wrapper'>
      <a href='../profile/profile.hbs'>
        <div class='chat__list-title'>Профиль</div>
      </a>

      <img src='../../assets/img/arrow-right.svg' alt='arrow' />
    </div>

  </div>
  <div class='chat__list-wrapper'>
    <input type='text' class='chat__list-input' placeholder='Поиск...' />
    <i class='chat__list-icon'></i>
  </div>
</div>