<div class='chat__message-header_right'>
  <div class='chat__message-header-wrapper'>
    <div class='chat__message-header-avatar'></div>
    <a href='../profile/profile.hbs'>
      <div class='chat__message-header-name'>Илья</div>
    </a>

  </div>

  <div class='chat__message-header-menu'>
    <div class='span-menu active'>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class='span-menu__active'>
      <div class='span-menu__active-block'>
        <img
          class='span-menu__active-block-img'
          src='../../assets/img/addPlus.svg'
          alt='add'
          width='22'
          height='22'
        />
        <div class='span-menu__active-block-title'>Добавить пользователя</div>
      </div>

      <div class='span-menu__active-block'>
        <img
          class='span-menu__active-block-img'
          src='../../assets/img/delete.svg'
          alt='add'
          width='22'
          height='22'
        />
        <div class='span-menu__active-block-title'>Удалить пользователя</div>
      </div>

      <div class='span-menu__active-block'>
        <img
          class='span-menu__active-block-img'
          src='../../assets/img/delete.svg'
          alt='add'
          width='22'
          height='22'
        />
        <div class='span-menu__active-block-title'>Удалить чат</div>
      </div>

    </div>

  </div>
</div>