<div class='chat__list-message'>
  <div class='chat__list-message-wrapper'>
    <div class='chat__list-message-avatar'>
      {{! <img src="" alt="" class='chat__list-message-img'></img>  }}
    </div>
    <div class='chat__list-message-user'>
      <div class='chat__list-message-name'>Киноклуб</div>
      <div class='chat__list-message-text'>
        <span class='chat__list-message-span'>Вы: </span>стикер</div>
    </div>
  </div>
  <div class='chat__list-message-time'>
    <div class='chat__list-message-clock'>12:00</div>
    {{! <div class='chat__list-message-notification'></div> }}
  </div>

</div>