<div class='chat__list-message'>
  <div class='chat__list-message-wrapper'>
    <div class='chat__list-message-avatar'>
      {{! <img src="" alt="" class='chat__list-message-img'></img>  }}
    </div>
    <div class='chat__list-message-user'>
      <div class='chat__list-message-name'>Андрей</div>
      <div class='chat__list-message-text'>Изображение</div>
    </div>
  </div>
  <div class='chat__list-message-time'>
    <div class='chat__list-message-clock'>10:49</div>
    <div class='chat__list-message-notification'>2</div>
  </div>

</div>