<div class='chat__list-message'>
  <div class='chat__list-message-wrapper'>
    <div class='chat__list-message-avatar'>
      {{! <img src="" alt="" class='chat__list-message-img'></img>  }}
    </div>

    <div class='chat__list-message-user'>
      <div class='chat__list-message-name'>Илья</div>
      <div class='chat__list-message-text'><span class='chat__list-message-span'></span>
        Друзья, у меня для вас особенный выпуск новостей!...</div>
    </div>

  </div>
  <div class='chat__list-message-time'>
    <div class='chat__list-message-clock'>15:12</div>
    <div class='chat__list-message-notification'>4</div>
  </div>
</div>