<html lang='en'>
   {{> components/head }}
  <body>
    <main>
      <section class='profile'>
        <div class='profile__wrapper'>
          
          {{> profile/components/profile-panel-left }}

          <div class='profile__info'>
            <div class='profile__info-avatar'>

              {{> profile/components/profile-avatar }} 

              <form action='#' class='form-info'>
                <div class='form-info__block'>
                  <div class='form-info__block-title'>Почта</div>
                  <input
                    name='email'
                    type='login'
                    class='form-info__block-desc profile profile__placeholder'
                    value='pochta@yandex.ru'
                  />
                </div>

                <div class='form-info__block'>
                  <div class='form-info__block-title'>Логин</div>
                  <input
                    name='first_name'
                    type='login'
                    class='form-info__block-desc profile profile__placeholder'
                    value='ivanivanov'
                  />
                </div>

                <div class='form-info__block'>
                  <div class='form-info__block-title'>Имя</div>
                  <input
                    name='first_name'
                    type='text'
                    class='form-info__block-desc profile profile__placeholder'
                    value='Илья'
                  />
                </div>

                <div class='form-info__block'>
                  <div class='form-info__block-title'>Фамилия</div>
                  <input
                    name='first_name'
                    type='text'
                    class='form-info__block-desc profile profile__placeholder'
                    value='Иванов'
                  />
                </div>

                <div class='form-info__block'>
                  <div class='form-info__block-title'>Имя в чате</div>
                  <input
                    name='display_name'
                    type='text'
                    class='form-info__block-desc profile profile__placeholder'
                    value='Илья'
                  />
                </div>

                <div class='form-info__block'>
                  <div class='form-info__block-title'>Телефон</div>
                  <input
                    name='phone'
                    type='text'
                    class='form-info__block-desc profile__placeholder'
                    value='+7 (909) 967 30 30'
                  />
                </div>

                <button class='form-info__btn-save'>Сохранить</button>

              </form>

            </div>

          </div>
        </div>

          {{> profile/components/profile-modal }}

      </section>
    </main>
  </body>
</html>