<html lang="ru">
   {{> components/head }}
  <body>
    <main>
      <section class='profile'>
        <div class='profile__wrapper'>

          <div class='profile__panel'>
            <a href='../chat/chat.hbs'>
              <img
                src='../../assets/img/back-arrow.png'
                alt='back-arrow'
                width='35'
                height='35'
                class='profile__panel-circle'
              />
            </a>
          </div>

          <div class='profile__info'>
            <div class='profile__info-avatar'>

              {{> profile/components/profile-avatar }} 

              {{> profile/components/profile-form }}

              <div class='profile__info-change'>
                <div class='profile__info-block'>
                  <a
                    href='./profile-data.hbs'
                    class='profile__info-block-title'
                  >Изменить данные</a>
                </div>
                <div class='profile__info-block'>
                  <a
                    href='./profile-password.hbs'
                    class='profile__info-block-title'
                  >Изменить пароль</a>
                </div>
                <div class='profile__info-block'>
                  <a href='/' class='profile__info-block-title_red'>Выйти</a>
                </div>
              </div>

            </div>

          </div>
        </div>

        {{> profile/components/profile-modal }}
      </section>
    </main>
  </body>
</html>