<html lang="ru">
   {{> components/head }}
  <body>
    <main>
    <section class='profile'>
      <div class='profile__wrapper'>

        {{> profile/components/profile-panel-left}}

        <div class='profile__info'>
          <div class='profile__info-avatar'>

            {{> profile/components/profile-avatar }} 

            <form action='#' class='form-info'>
              <div class='form-info__block'>
                <div class='form-info__block-title'>Старый пароль</div>
                <input
                  name='oldPassword'
                  type='text'
                  class='form-info__block-desc profile-password__placeholder'
                  placeholder='••••••••••••'
                />
              </div>

              <div class='form-info__block'>
                <div class='form-info__block-title'>Новый пароль</div>
                <input
                  name='oldPassword'
                  type='text'
                  class='form-info__block-desc profile-password__placeholder'
                  placeholder='••••••••••••'
                />
              </div>

              <div class='form-info__block'>
                <div class='form-info__block-title'>Повторите новый пароль</div>
                <input
                  name='newPassword'
                  type='text'
                  class='form-info__block-desc profile-password__placeholder'
                  placeholder='••••••••••••'
                />
              </div>

              <button class='form-info__btn-save form-info__btn-save_mt160'>Сохранить</button>

            </form>

          </div>

        </div>
      </div>

        {{> profile/components/profile-modal }}

    </section>
    </main>
  </body>
</html>