@import "../../assets/scss/variables";

.chat {
  display: flex;
  height: 100%;

  &__list {
    width: 450px;
    background: $color-panel;
    height: 100%;
    border-right: 1px solid $border-color;
    padding: 15px 0px 0px 0px;
    &-header-wrapper {
      display: flex;
      align-items: center;
    }
    &-header_left {
      padding: 0px 10px;
    }
    &-block {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;

      &-img {
        transition: 0.3s;
        margin-left: 10px;
        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
      }
    }
    &-title {
      font-size: 13px;
      color: $color-title-second;
      margin-right: 8px;
      line-height: 5px;
    }
    &-wrapper {
      position: relative;
    }

    &-icon::after {
      position: absolute;
      content: url("../../assets/img/search.svg");
      width: 20px;
      height: 20px;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    &-messages {
      margin-top: 14px;
      height: calc(100% - 90px);
      overflow: auto;
      &::-webkit-scrollbar {
        width: 0px;
      }
    }

    &-message {
      display: flex;
      justify-content: space-between;
      padding: 12px 10px;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      cursor: pointer;
      &.active {
        background: $message-active-color;
      }
      &-wrapper {
        display: flex;
      }
      &-img {
        width: 47px;
        height: 47px;
        background: $color-background-grey;
      }
      &-avatar {
        width: 47px;
        height: 47px;
        background: $color-background-grey;
        border-radius: 100%;
      }
      &-user {
        margin-left: 10px;
      }
      &-name {
        font-weight: 600;
        font-size: 13px;
        line-height: 13px;
        color: $title-color;
      }
      &-text {
        margin-top: 5px;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: $color-title-second;
        width: 190px;
        word-wrap: break-word;
      }
      &-clock {
        font-weight: 500;
        font-size: 11px;
        color: $color-title-second;
      }
      &-notification {
        text-align: center;
        min-width: 20px;
        height: 20px;
        background: $base-color;
        color: $white-color;
        border-radius: 5px;

        margin: 14px auto 0px auto;
        font-size: 11px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      span {
        color: $dark-color;
      }
    }
  }
}

.chat {
  &__message-list {
    width: 100%;
  }
  &__message-nothing {
    height: 100vh;
    font-weight: 500;
    font-size: 13px;
    line-height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-title-second;
  }
  &__message {
    &-img-wrapper {
      position: relative;
    }
    &-user {
      &-time {
        position: absolute;
        right: 15px;
        bottom: 5px;
        font-size: 12px;

        text-align: right;
        color: $color-title-second;
        &.active {
          color: $base-color;
        }
      }
      &-text {
        position: relative;
        max-width: 40%;

        padding: 15px 50px 20px 15px;
        border-radius: 12px;
        font-weight: 500;
        font-size: 14px;
        background: #f8f8f8;

        color: $title-color;
        &.active {
          background: $message-active-color;
          // justify-content: ;
        }
      }
      &-img {
        position: relative;
        border-radius: 12px;
        width: 300px;
        height: 200px;
        object-fit: cover;
      }
      &-block {
        display: flex;
        justify-content: flex-start;
        &.active {
          justify-content: flex-end;
        }
      }
    }
    &-block {
      padding: 0 20px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      height: calc(100% - 240px);
      &::-webkit-scrollbar {
        width: 0px;
      }
    }
    &-date {
      margin-top: 50px;
      margin-bottom: 30px;
      font-weight: 500;
      font-size: 13px;
      text-align: center;
      color: $color-title-second;
    }
    &-header {
      &-wrapper {
        display: flex;
        align-items: center;
      }
      &_right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        height: 55px;
        border-bottom: 1px solid $border-color;
      }
      &-avatar {
        width: 34px;
        height: 34px;
        background: $color-background-grey;
        border-radius: 100%;
      }
      &-name {
        font-weight: 600;
        font-size: 13px;
        color: $title-color;
        margin-left: 10px;
      }
      &-menu {
        position: relative;
        cursor: pointer;
        height: 100%;
        width: 20px;
        span {
          position: absolute;
          width: 4px;
          height: 4px;
          background: $dark-color;
          border-radius: 100%;
          top: 50%;
          transform: translateX(-50%);
          right: 10px;
        }
        span:nth-child(1) {
          top: 9px;
        }

        span:nth-child(2) {
          top: 18px;
        }
        span:nth-child(3) {
          top: 27px;
        }
      }
    }
  }
  &-form {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 30px;
    height: 55px;
    padding: 10px 20px;
    border-top: 1px solid $border-color;
    &__active {
      &-clip {
        margin-top: 15px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
    &__clip-menu {
      position: absolute;
      z-index: 2;
      width: 162px;
      height: 128px;
      background: $white-color;
      border-radius: 12px;
      padding: 0 15px;
      bottom: 70px;
      box-shadow: 0 0 6px $color-box-shadow;
    }

    &__img {
      &-clip {
        cursor: pointer;
        transition: 0.5s;
        &:hover {
          transform: scale(1.2);
        }
      }
      &-arrow {
        cursor: pointer;
        transform: rotate(180deg);
        transition: 0.4s;
        &:hover {
          transform: rotate(90deg);
          transform: scale(1.2);
        }
      }
    }
  }
}

.span-menu__active {
  z-index: 2;
  position: absolute;
  width: 210px;
  min-height: 90px;
  left: -185px;
  top: 60px;

  background: $white-color;
  box-shadow: 0px 0px 6px $color-box-shadow;
  border-radius: 12px;

  padding: 0 15px 15px 15px;

  &-block {
    display: flex;
    align-items: center;
    margin-top: 15px;
    &-img {
    }
    &-title {
      margin-left: 10px;
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;
      color: $title-color;
      transition: 0.3s;
      &:hover {
        color: $base-color;
      }
    }
  }
}

.chat {
  &-overflow {
    z-index: 3;
    display: none; //! display: none
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-overflow;
  }
  &-modal {
    position: absolute;
    top: 50%;
    left: calc(50% + 32px);
    transform: translate(-50%, -50%);
    width: 340px;
    min-height: 257px;

    background: $white-color;
    box-shadow: 0px 0px 6px $color-box-shadow;
    border-radius: 12px;

    padding: 40px 30px;

    &__label {
      font-weight: 500;
      font-size: 11px;
      color: $color-title-second;
    }

    &__title {
      text-align: center;
      color: $title-color;
      font-weight: 500;
      margin-bottom: 40px;
      &-error {
        color: $error-color;
      }
    }
    &__file {
      text-align: center;
      width: 122px;
      font-size: 14px;
      text-decoration-line: underline;
      color: $base-color;
      font-weight: 500;
      margin: 43px auto 0px;
      cursor: pointer;
      margin-bottom: 45px;
      &-success {
        color: $color-modal-title;
        text-decoration-line: none;
        font-size: 16px;
        font-weight: 400;
        word-wrap: break-word;
        width: 180px;
        cursor: auto;
        margin-bottom: 60px;
      }
    }

    &__error {
      font-weight: 500;
      color: $error-color;
      text-align: center;
      margin-top: 13px;
      font-size: 13px;
    }
  }
}

.img-time {
  background: $color-img-time;
  border-radius: 30px;
  padding: 4px;
  right: 10px;
  bottom: 10px;
  font-size: 11px;
  color: $white-color;
}

.chat-form__active-clip:hover > .span-menu__active-block-title {
  color: $base-color;
}

.span-menu__active-block:hover > .span-menu__active-block-title {
  color: $base-color;
}

.chat__list-message-text {
  height: 29px;
  overflow: hidden;
}

.chat__list-message-clock {
  width: 30px;
  text-align: right;
}

.chat__message-block {
  height: calc(100vh - 240px);
}

.notification-dn {
  display: none;
}
