<div class='form-registration__wrapper'>
  <div class='form-registration__title'>Телефон</div>
  <input
    name='phone'
    type='text'
    class='form-registration__input error-password__input'
    placeholder='8-(999)-999-999'
  />
</div>