<div class='form-registration__wrapper'>
  <label for='my-input' class='form-registration__title'>Фамилия</label>
  <input
    name='second_name'
    id='my-input'
    type='text'
    class='form-registration__input error-registration__input'
    placeholder='Варнакова'
  />
  <div class='error error-registration'>Фамилия должно быть больше 3 символов</div>
</div>