<div class='form-registration__wrapper'>
  <label for='my-input' class='form-registration__title'>Почта</label>
  <input
    id='my-input'
    name='email'
    type='email'
    class='form-registration__input error-registration__input'
    placeholder='pochta@yandex.ru'
  />
  <div class='error error-registration'>Неверная почта</div>
</div>