<div class='form-registration__wrapper'>
  <label for='my-input' class='form-registration__title'>Логин</label>
  <input
    id='my-input'
    name='login'
    type='text'
    class='form-registration__input error-registration__input'
    placeholder='iamevvva'
  />
  <div class='error error-registration'>Неверный логин</div>
</div>