<div class='form-registration__wrapper'>
  <label for='my-input' class='form-registration__title'>Имя</label>
  <input
    name='first_name'
    id='my-input'
    type='text'
    class='form-registration__input error-registration__input'
    placeholder='Ева'
  />
  <div class='error error-registration'>Имя должно быть больше 3 символов</div>
</div>