<div class='form-registration__wrapper'>
  <div class='form-registration__title'>Пароль</div>
  <input
    name='password'
    type='password'
    class='form-registration__input error-password__input'
    placeholder='•••••••••••'
  />
  <div class='error error-password'>Пароли не совпадают</div>
</div>