<form action='#' class='form-login'>

  {{> login/components/form/input-login }}

  {{> login/components/form/input-password }}


   {{!-- <button class='form-login__btn'>Вход</button>  --}} {{!-- //!Button --}}

   <a class='link__chat' href="partials/chat/chat.hbs">Вход</a>

  <a href='partials/registration/registration.hbs' class='form-login__link'>Нет аккаунта?</a>
</form>
