<section class="not-found">
  <main>
    <div class="not-found__wrapper">
      <div class="not-found__wrapper-number">500</div>
      <div class="not-found__wrapper-text">Мы уже фиксим</div>
      {{{link}}}
    </div>
  </main>
</section>
