<div class='form-login__wrapper'>
  <div class='form-login__title'>Пароль</div>
  <input
    name='password'
    type='password'
    class='form-login__input error-password__input'
    placeholder='•••••••••••'
  />
  <div class='error error-password'>Неверный пароль</div>
</div>