<div class='form-login__wrapper'>
  <label for='my-input' class='form-login__title'>Логин</label>
  <input
    id='my-input'
    type='text'
    name='login'
    class='form-login__input error-login__input'
    placeholder='iamevvva'
  />
  <div class='error error-login'>Неверный логин</div>
</div>