@import url("../../assets/scss/variables");

.registration {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__wrapper {
    width: 340px;
    height: 615px;
    background: $white-color;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 14%);
    border-radius: 12px;
    padding: 50px 30px 30px;
    &-text {
      font-weight: 500;
      font-size: 20px;
      text-align: center;
      color: $title-color;
    }
  }
}

.form-registration {
  &__wrapper {
    position: relative;
    margin-top: 25px;
  }
  &__title {
    font-weight: 500;
    font-size: 11px;
    color: $color-form-title;
  }
}
