<section class="registration">
  <div class="registration__wrapper">
    <div class="registration__wrapper-text">Регистрация</div>
    <main>
      {{{form}}}
      {{{linkLogin}}}
    </main>
  </div>
</section>
