<html lang="ru">
   {{> components/head }}
  <body>
    <section class='not-found'>
      <main>
        <div class='not-found__wrapper'>
          <div class='not-found__wrapper-number'>404</div>
          <div class='not-found__wrapper-text'>Не туда попали</div>
          <a href='/' class='not-found__wrapper-link'>Назад к чатам</a>
        </div>
      </main>
    </section>
  </body>
</html>