<html lang='en'>
   {{> components/head }}
  <body>
    <section class='registration'>
      <div class='registration__wrapper'>
        <div class='registration__wrapper-text'>Регистрация</div>
        <main>
          {{> registration/components/form-registration }}
        </main>
      </div>
    </section>
  </body>
</html>