<html lang="ru">
   {{> components/head }}
  <body>
    <section class='server-error'>
      <main>
        <div class='server-error__wrapper'>
          <div class='server-error__wrapper-number'>500</div>
          <div class='server-error__wrapper-text'>Мы уже фиксим</div>
          <a href='/' class='server-error__wrapper-link'>Назад к чатам</a>
        </div>
      </main>
    </section>
  </body>
</html>