<main>
  <section class="profile">
    <div class="profile__wrapper">

      <div class="profile__panel">
        <a href="/profile">

          {{{imgBackArrow}}}
        </a>
      </div>

      <div class="profile__info">
        <div class="profile__info-avatar">

          {{{avatar}}}

          {{{form}}}
        </div>
      </div>
    </div>
  </section>
</main>
