@import "../../assets/scss/variables";

.profile {
  height: 100%;
  &__wrapper {
    display: flex;
    height: 100%;
  }
  &__panel {
    height: 100vh;
    position: relative;
    width: 64px;
    background: $color-panel;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.3px 0.3px 0.4px $dark-color;
    &-circle {
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        transform: scale(110%);
      }
    }
  }
  &__info {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 60px 0 100px 0;

    &-change {
      margin-top: 60px;
    }
    &-block {
      display: flex;
      align-items: center;
      height: 40px;
      border-bottom: 1px solid $border-color;
      &-title {
        font-weight: 500;
        color: $base-color;
        text-decoration: none;
        &:hover {
          color: $color-hover-modal-title;
        }
        &_red {
          color: $error-color;
          text-decoration: none;
          &:hover {
            color: $error-hover-color;
          }
        }
      }
    }
  }
}

.form-info {
  width: 530px;
  margin-top: 60px;
}

.profile-password__placeholder {
  font-weight: 600;

  &::-webkit-input-placeholder {
    color: $color-profile-placeholder;
    font-size: 18px;
    letter-spacing: 1.2px;
  }
}

.profile__placeholder {
  font-weight: 600;
  text-align: right;
  &::-webkit-input-placeholder {
    color: $color-profile-placeholder;
    font-weight: 700;
  }
}


.error_password-form {
  color: $error-color;
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
  bottom: 15px;
  text-align: center;
}
