@import url("../../assets/scss/variables");

.not-found {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__wrapper {
    &-number {
      font-weight: 700;
      text-align: center;
      font-size: 40px;
      color: $title-color;
    }
    &-text {
      margin-top: 20px;
      font-weight: 500;
      font-size: 20px;
      color: $title-color;
    }
  }
}
