<section class="not-found">
  <main>
    <div class="not-found__wrapper">
      <div class="not-found__wrapper-number">404</div>
      <div class="not-found__wrapper-text">Не туда попали</div>
      {{{link}}}
    </div>
  </main>
</section>
